<div class='mt-3 mb-3'>
    <button class="btn btn-primary" (click)="show = !show">{{show ? 'Hide' : 'Add a Car'}}</button>
    <div>
      <div *ngIf="show">
        <form>
          <div class="row">
            <div class="col-md col-12">
              <input type="text" class="form-control" name="make" placeholder="Enter Make" #make>
            </div>
          
            <div class="col-md col-12">
              <input type="text" class="form-control" name="model" placeholder="Enter Model" #model>
            </div>
          
            <div class="col-md col-12">
              <input type="text" class="form-control" name="year" placeholder="Enter Year" #year>
            </div>
          
          
            <div class="col-md col-12">
              <input type="text" class="form-control" name="imageURL" placeholder="Enter Link to Image" #imageUrl>
            </div>
          
          
          
            <div class="col-12 col-md">
              <button class="btn btn-primary" type="submit" (click)="addCar(make.value, model.value,year.value,imageUrl.value)">Add Car</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    
  
    
    
</div>

  <div class="row">
    <app-car class="col-md-4 col-12" [carData]="carData" *ngFor="let carData of carsData" (carDeletedEvent)="deleteCar($event)"></app-car>
  </div>
      

